AmmoDisplay {
    position: absolute;
    align-items: center;
    bottom: 40px;
    right: 500px;
    height: 110px;
    color: yellow;
    font-family: GoBold;
    padding: 32px 16px 16px 16px;
    border-radius: 4px;


    .clip {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        font-size: 60px;
        transition: color 0.5s ease-out;
        width: 110px;
        margin-left: 20px;
    }

    .reserve {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        transition: color 0.5s ease-out;
    }

    &.hide {
        display: none;
    }
}
